/* ===== YOUR CSS GOES HERE ===== */

a {
    font-family: "Verdana";
    color: orange;
}

.container {
        overflow: hidden;
      }

      .plateImage {
        width:100%;
        height: 300px;
        border-radius: 0 0 100% 100%;
        background-image: url("https://images.indianexpress.com/2021/07/GettyImages-healthy-eating-1200.jpg");
        margin-top: -300px;
        align-content: center;
      }

      div{
          color:#008CBA;

      }

      p{
          color:#008CBA;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          ";
      }

      h1{
          margin-top: 60px;
      }

      h3{
          margin-top:60px;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }


      button{
          background-color: orange;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      
.a{
    color: orange;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: white;
    color: #008CBA;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: #fafafa;
  }
  
  #main {
    padding-left: 20em;
    padding-right: 20em;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
  h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 3px solid orange;
    color: #008CBA;
    font-size: 30px;
  }  
  .startButton {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .startButton {
    background-color: white; 
    color: #008CBA; 
    border: 2px solid #008CBA;
  }
  
  .startButton:hover {
    background-color: #008CBA;
    color: white;
  }

  .container1{
    padding-left: 30%;
    padding-right: 30%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    color: #008CBA;
}

    a {
        padding: 15px 20px;
        font: 13px $button-font;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        margin: 1em;
    }

    a:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    }

.buttons {
color: #008CBA;
border: 5px solid transparent;
transition: .2s ease;
border-radius: 50px;
}

.buttons:hover {
color: #008CBA;
background-color: white;
transform: scale(1.1);
border: 5px solid $blue;
}

.nextButton1 {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .nextButton1 {
    background-color: white; 
    color: #008CBA; 
    border: 2px solid #008CBA;
  }
  
  .nextButton1:hover {
    background-color: #008CBA;
    color: white;
  }

  body {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #008cba;
  }
  
  .cards {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #008cba;
    text-align: center;
  }
  
  .card {
    width: 22%;
    position: relative;
    background-color: white;
    margin: 1.13%;
    border-radius: 5px;
    transition: 1s;
    -webkit-transition: 0.5s;
    cursor: pointer;
    flex: 1 1 auto;
    border-color: #008cba;
    border-radius: 0.5em;
    border-style: solid;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  @media screen and (max-width: 1200px) {
    .card {
      width: 30%;
      margin: 1.6%;
    }
  }
  
  @media screen and (max-width: 800px) {
    .card {
      width: 45%;
      margin: 2.5%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .card {
      width: 98%;
      margin: 2%;
    }
  }
  
  .card_img {
    width: 100%;
    height: 150px;
    position: reltive;
    border-radius: 5px 5px 0px 0px;
    background-size: cover;
    background-position: center center;
    transition: 1s;
    -webkit-transition: 1s;
  }
  
  .card1 {
    background-image: url(https://cdn.britannica.com/17/196817-050-6A15DAC3/vegetables.jpg);
  }
  .card2 {
    background-image: url(https://www.sciencenewsforstudents.org/wp-content/uploads/2019/11/860_protein_explainer.png);
  }
  .card3 {
    background-image: url(https://www.foodbeverageinsider.com/sites/foodbeverageinsider.com/files/styles/article_featured_wide/public/FBI-DM-Grains-1540x800.jpg?itok=7xQ8uq7O);
  }

  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    line-height: 1.7rem;
      background-color: white;
      color: #008CBA;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
      padding-top: 18em;
      background-color: #fafafa;
    );

   } 
  }
  
  body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  
  .quiz-container {
    padding: 3rem;
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    background: #ECECEC;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-weight: 400;
    font-size: 3rem;
    letter-spacing:4px;
    text-align: center;
    text-transform: uppercase;
    color: orange;
  }
  .question {
    margin: 2rem 0;
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#008CBA;
    text-transform:uppercase;
    letter-spacing:1px;
  } 
  .option {
    padding: 1rem;
    color: white;
    background: #008CBA;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all 0.3s;
  }
  .option:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  .option input:checked .option {
    background: orange;
    color: orange;
  }
  .controls > * {
    margin: 1rem;
  }
  button {
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 300;
    color: white;
    outline: none;
    transform: scale(0.98);
    transition: all 0.2s;
  }
  button.previous {
    background: orange;
  }
  button.next {
    background: orange;
  }
  button.restart {
    background: orange;
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: all 0.4s;
  }
  
  button:hover,
  button:focus {
    transform: scale(1);
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  }
  .result {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    min-height: 100vh;
  }
  
  .summary {
    font-size: 1rem;
    text-shadow: 1px 1px #ffffff50;
    color: #008CBA;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    padding: 0 2rem;
  }
  .summary h1 {
    align-self: center;
  }

  .summary h2 {
      padding-left: 20%;
      padding-right: 20%;
  }

  .summary .h2{
    @media screen and (max-width: 800px) {
        padding-left: 5%;
        padding-right: 5%;
  } 
}

  h3{
      padding-left: 10%;
      padding-right: 10%;
  }

  about.p{
      padding-left: 30%;
      padding-right: 30%;
  }

  .platescolumn {
    float: left;
    width: 33%;
    margin-bottom: 10px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .platescolumn {
      width: 100%;
      display: block;
    }
  }
  
  .platescard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
  .platescontainer {
    padding-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  .platescontainer::after,
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  h2 {
    color: #008cba;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20%;
    padding-right: 20%; 
  }

  
  .plate1button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: orange;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    width: 100%;
  }
  .plate2button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: orange;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    width: 100%;
  }
  .plate3button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: orange;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

.card{
    @media screen and (max-width: 1200px) {
        .card {
          width: 30%;
          margin: 1.6%;
        }
      }
      
      @media screen and (max-width: 800px) {
        .card {
          width: 45%;
          margin: 2.5%;
        }
      }
      
      @media screen and (max-width: 500px) {
        .card {
          width: 98%;
          margin: 2%;
        }
      }
}
  
.card{
    float: left;
    width: 30%;
}

.aboutcard{
    display: inline-block;
    width: 40%;
    height: 60px;
    margin-left: 3px;
     }

/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .teamcontainer {
    margin-top: 50px;
    padding-bottom: 80px;
  }
  
  .teamcontainer .team {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    display: inline-block;
  }
  
  .teamcontainer .team .member {
    width: 325px;
    margin: 10px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    padding: 25px;
  }
  
  .teamcontainer .team .member img {
    width: 150px;
    border-radius: 60%;
  }
  
  .teamcontainer .team .member h3 {
    color: orange;
  }
.plateimg{
    padding-bottom: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 850px)  {
    .h3{
        width: 85%;
    }
}

.quiz-container .title {
    font-size: 35px;
}

.ingredientcards{
    @media screen and (max-width: 1200px) {
        .card {
          width: 30%;
          margin: 1.6%;
        }
      }
      
      @media screen and (max-width: 800px) {
        .card {
          width: 45%;
          margin: 2.5%;
        }
      }
      
      @media screen and (max-width: 500px) {
        .card {
          width: 98%;
          margin: 2%;
        }
      }
      .ingredientcards{
        float: left;
        width: 30%;
    }